{# arena.html.twig #}

{%  extends 'base.html.twig' %}

{% block container %}
    <h2 class="pt-md-5 pb-md-5">
        Choose an opponent in the arena
    </h2>

    <div class="row">
        <div class="card-deck">
            {% for opp in opponents %}
                <div class="card">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">
                            {{opp.name}}
                            <a href="/perso/{{ opp.id }}"><span class="badge badge-dark">Detail</span></a>
                        </h4>
                    </div>
                    <img class="card-img-top" style="width: 250px; padding: 5px" src="templates/images/spartan.png" alt="perso_avatar">
                    <div class="card-body">
                        <h6>Status :
                            {% if opp.status == 0 %}
                                <span class="badge badge-danger">Mort !</span>
                            {% else %}
                                <span class="badge badge-primary">En vie</span>
                            {% endif %}
                        </h6>
                        <h6>Dextérité :
                            <span class="badge badge-secondary">{{ opp.caracteristiques.dexterite }}</span>
                        </h6>
                        <h6>Vitesse :
                            <span class="badge badge-secondary">{{ opp.caracteristiques.vitesse }}</span>
                        </h6>
                        <h6>Force :
                            <span class="badge badge-secondary">{{ opp.caracteristiques.forceperso }}</span>
                        </h6>
                        <h6>Constitution :
                            <span class="badge badge-secondary">{{ opp.caracteristiques.constitution }}</span>
                        </h6>
                        <h6>Master :
                            <strong>{{ opp.user }}</strong>
                        </h6>
                    </div>
                    <div class="card-footer">
                        <a type="button" class="btn btn-primary" disabled="{{ opp.status == 0 }}" href="/fight/{{ current_perso_id }}/{{ opp.id }}">
                            <img src="templates/images/swords.png">
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}