{# personnages.html.twig #}

{%  extends 'base.html.twig' %}


{% block info %}
    {% if deleted %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Your Perso has been removed
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endblock %}

{% block container %}
        <h1 class="pt-md-5 pb-md-5">
            Welcome to your Arena !
            <a type="button" href="/createPerso" class="btn btn-primary">Create a Perso here</a>
        </h1>

    <div class="row">
        <div class="card-deck">
         {% for perso in personnages %}
             <div class="card">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        {{perso.name}}
                        <a href="/perso/{{ perso.id }}"><span class="badge badge-dark">Detail</span></a>
                    </h4>
                </div>
                     <img class="card-img-top" style="width: 250px; padding: 5px" src="templates/images/spartan.png" alt="perso_avatar">
                <div class="card-body">
                    <h6>Status :
                        {% if perso.status == 0 %}
                            <span class="badge badge-danger">Mort !</span>
                        {% else %}
                            <span class="badge badge-primary">En vie</span>
                        {% endif %}
                    </h6>
                    <h6>Dextérité :
                        <span class="badge badge-secondary">{{ perso.caracteristiques.dexterite }}</span>
                    </h6>
                    <h6>Vitesse :
                        <span class="badge badge-secondary">{{ perso.caracteristiques.vitesse }}</span>
                    </h6>
                    <h6>Force :
                        <span class="badge badge-secondary">{{ perso.caracteristiques.forceperso }}</span>
                    </h6>
                    <h6>Constitution :
                        <span class="badge badge-secondary">{{ perso.caracteristiques.constitution }}</span>
                    </h6>
                </div>
                <div class="card-footer">
                    <a type="button" class="btn btn-primary" href="/arena/{{ perso.id }}">Choose</a>
                </div>
            </div>
         {% endfor %}
        </div>
    </div>
{% endblock %}